.search,
.reset {
  margin-right: 25px;
  background: #eb5d1e !important;
  border: none !important;
  border-color: none !important;
}
.search:hover {
  box-shadow: 0 0 10px #eb5d1e;
}
.grid-container {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: auto;
  column-gap: 20px;
}
.movie-card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  margin: 5% 7%;
  justify-content: center;
}
.movie-card-container > * {
  flex: 1 1 100%;
}
h1 {
  text-align: center;
}
